{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border-0">
            <div class="card-header bg-green text-white">
                <h5 class="mb-0">Modifier la demande</h5>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <input type="date" name="date" class="form-control" value="{{ reservation.date|date:'Y-m-d' }}" required>
                    </div>
                    <div class="row">
    <div class="col-md-6 mb-3">
        <label>Début</label>
        <input type="time" name="start_time" class="form-control" value="{{ reservation.start_time|time:'H:i' }}">
    </div>
    <div class="col-md-6 mb-3">
        <label>Fin</label>
        <input type="time" name="end_time" class="form-control" value="{{ reservation.end_time|time:'H:i' }}">
    </div>
</div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-green">Enregistrer les modifications</button>
                        <a href="{% url 'reservations:my_reservations' %}" class="btn btn-light border">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}